.divImageButton {
    
}

.fpProduct {
    max-height: 220px;
    background-color: #333;
}

.fpProduct img {
    position: relative;
    bottom: 40px;
    max-height: 200px;
    z-index: 1;
}
.fpProduct h2 {
    z-index: 20;
    position: relative;
}